@import 'tailwindcss';

:root {
	--background: #fcfcfc;
	--foreground: #171717;
}

@theme {
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--spacing-xl: 4rem;
	--spacing-2xl: 8rem;
	--spacing-3xl: 16rem;

	--color-better-indigo-100: #eef2fb;
	--color-better-indigo-200: #dae0f1;
	--color-better-indigo-300: #b1bee5;
	--color-better-indigo-400: #859adb;
	--color-better-indigo-500: #617bd1;
	--color-better-indigo-600: #4b68cc;
	--color-better-indigo-700: #3f5fcb;
	--color-better-indigo-800: #324fb4;
	--color-better-indigo-900: #2a46a1;
	--color-better-indigo: #1e3a8a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-instrument-sans);
	--font-mono: var(--font-geist-mono);
	--font-rakkas: var(--font-rakkas-font);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans), Helvetica, Arial, sans-serif;
}
